<div class="media entry">
    <div class="media-left">
        <a href="{{ URL('/user/profile/'~entry.username) }}">
            {{ HTML.image('/media/user/'~entry.uid~'/small.png', {'class':'media-object', 'alt': entry.fullname }  ) | raw }}
        </a>
    </div>
    <div class="media-body">
        <h4 class="media-heading by"><a href="{{ URL('/user/profile/'~entry.username) }}">{{ entry.fullname }}</a></h4>
        <div class="entry_body">{{ entry.body }}</div>
        <div class="entry_foot">
            <span class="date">Published on: <span>{{ entry.date |date("F jS \\a\\t g:ia") }}</span></span>
        </div>
    </div>
</div>
    

    