{% extends "template" %}

{% block title %}Login{% endblock %}
{% block body_class %}login_page{% endblock %}

{% block header_right_block %}
{% endblock %}   
    
{% block content %}
    <div class="container">
      <form class="form-signin" action="{{ URL("user/dologin") }}" method="POST">
        <h2 class="form-signin-heading">Please sign in</h2>
        <label for="inputEmail" class="sr-only">Email address</label>
        <input type="text" name="username" id="inputEmail" class="form-control" placeholder="Username" value="{{username}}" required autofocus>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
      </form>

    </div> <!-- /container -->
    
{% endblock %}