{# empty Twig template #}

{% extends "template" %}

{% block title %}Profile :: {{user.username}} {% endblock %}

{% block head_style %}
    {{ HTML.style('assets/lib/jquery-colorbox/example1/colorbox.css')|raw }}
{% endblock %}

{% block content %}

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="cover_profile">
        {% if user.has_cover_profile == 1 %}
            {{ HTML.image('/media/user/'~user.id~'/cover.jpg', {'class':'cover', 'alt': entry.fullname }  ) | raw }}
        {% else %}
            {{ HTML.image('/assets/img/jumbotron_bg.jpg', {'class':'cover' }  ) | raw }}
        {% endif %}
    </div>

    <div class="container">
        <div class="row">
            <a href="../template.twig"></a>
            <div class="col-md-4">
                <div class="user_profile" >
                    <div class="profile_picture_wrap">
                        {{ HTML.image('/media/user/'~user.id~'/large.png', {'class':'profile_picture', 'alt': entry.fullname }  ) | raw }}
                    </div>

                    <div class="profile_info">
                        <h3>{{user.firstname~' '~user.lastname}}</h3>
                        <p>Username: <a href="{{ URL('/user/profile/'~user.username) }}">/{{user.username}}</a></p>
                        <p>E-mail: {{user.email}}</p>
                    </div>
                </div>
                    <div id="gallery_wrap">
                        
                    </div>
            </div>
            <div id="content_wrap" class="col-md-8">

                <div class="timeline entry_box" >
                    {% if Auth.logged_in() != null and Auth.get_user().id == user.id %}
                        <div class="entry_form">
                            <div class="media">
                                <div class="media-left media-middle">
                                    {{ HTML.image('/media/user/'~user.id~'/small.png', {'class':'media-object', 'alt': entry.fullname }  ) | raw }}
                                </div>
                                <div class="media-body">
                                    <h4 class="media-heading">What's happening?</h4>
                                    <form class="form-horizontal add-entry-form" action="{{URL('entry/create')}}" method="POST">
                                        <textarea rows="2"  class="form-control" name="entry_body"></textarea>
                                        <input type="hidden" name="return" value="{{ URL('/user/profile/'~user.username) }}" >
                                        <input class="btn btn-primary pull-right" type="submit" value="Send" >
                                    </form>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                    <!-- Entries List -->
                    {{entries|raw}}
                </div>
            </div>
        </div>

    </div>

{% endblock %}

{% block footer_script %}
    {{ HTML.script('assets/lib/jquery-colorbox/jquery.colorbox-min.js')|raw }}
    
    <script type="text/javascript">
        $(function(){
            //console.log($('a.gallery_item'));
            //$('a.gallery_item').colorbox();
        });
    </script>
    
    <script type="text/jsx">

        //ToDo gallery with ReacJS
        /*
         * -Gallery
         *  -GalleryList
         *    -GalleryItem
         */
        var GalleryItem = React.createClass({
          componentDidMount: function() {
               $(this.getDOMNode()).colorbox({rel:"group1"});
          },
          render: function() {
            return (
                    <a  className="gallery_item" href={this.props.source} ><img src={this.props.source} title={this.props.title}  /></a>
                   );
          }
        }); 

        var GalleryList = React.createClass({
            render: function() {
              var response;
              var galleryItems = this.props.data.map(function (item) {
                return (
                  <GalleryItem source={item.source} title={item.title} />
                );
              });
              if( galleryItems.length > 0 ){
                  response = galleryItems;
              }else{
                  response = "Nothig to show";
              }
              
              return (
                      <div className="gallery_list">
                          { response  }
                      </div>
                    );
            }
        });

        var Gallery = React.createClass({
          getInitialState: function() {
            return {data: []};
          },
          componentDidMount: function() {
            $.ajax({
              url: this.props.url,
              dataType: 'json',
              cache: false,
              success: function(data) {
                if( data.success ){
                    this.setState({data: data.data});
                }else{
                    console.log(data.message);
                }

              }.bind(this),
              error: function(xhr, status, err) {
                console.error(this.props.url, status, err.toString());
              }.bind(this)
            });
          },
          render: function() {
            return (
                <div>
                    <h3>Gallery</h3>
                    <GalleryList data={this.state.data} />
                </div>
            );
          }
        });

        React.render(
          <Gallery url="{{ URL('/user/gallery/'~user.username) }}" />,
          document.getElementById('gallery_wrap')
        );

    </script>
{% endblock %}