<!DOCTYPE html>
<html lang="en">
    <head>
        {% block head %}

            <meta charset="utf-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
            <meta name="description" content="">
            <meta name="author" content="">

            <title>{% block title %}{% endblock %} - App</title>

            <!-- Bootstrap core CSS -->
            {{ HTML.style('assets/lib/bootstrap/dist/css/bootstrap.min.css')|raw }}
            <!-- App css -->
            {{ HTML.style('assets/css/app.css')|raw }}
            
            {% block head_style %}{% endblock %}
            
            <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
            <!--[if lt IE 9]>
              <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
              <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
            <![endif]-->

        {% endblock %}


    </head>

    <body class="{% block body_class %}{% endblock %}">

        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{{ URL('/') }}">Training App - Mini Blog</a>
                </div>
                {% block header_right_block %}
                    <div id="navbar" class="navbar-collapse collapse">
                        {% if Auth.logged_in() == null%}
                            
                            <form action="{{ URL("user/dologin") }}" method="POST" class="navbar-form navbar-right" novalidate>
                                <div class="form-group">
                                    <input name="username" type="text" placeholder="Username" class="form-control">
                                </div>
                                <div class="form-group">
                                    <input name="password" type="password" placeholder="Password" class="form-control">
                                </div>
                                <button type="submit" class="btn btn-success">Sign in</button>
                            </form>
                        {% else %}
                            <ul class="nav navbar-nav navbar-right">
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" title="" aria-expanded="false"><i class="fa fa-user"></i> Welcome back, {{ Auth.get_user().username }}<b class="caret"></b></a>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <a class="btn" href="{{ URL("user/logout") }}" >Logout</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>

                        {% endif %}
                    </div><!--/.navbar-collapse -->
                {% endblock %}
            </div>
        </nav>

        <div id="page-wrap" >
            
            <!-- ALERTS -->
            <div class="container alerts">
            {% if Session.get('error') or Session.get('success') %}
                {% if Session.get('error') %}
                <div class="alert alert-danger alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    {{Session.get_once('error')}}
                </div>
                {% endif %}
                {% if Session.get('success') %}
                <div class="alert alert-success alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    {{Session.get_once('success')}}
                </div>
                {% endif %}
            {% endif %}
            </div> <!-- END ALERT -->
            
            
            {% block content %}{% endblock %}
        </div>

        <footer>
            {% block footer %}{% endblock %}
        </footer> 

        <!-- Bootstrap core JavaScript
        ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->

        <!-- ReactJS -->
        {{ HTML.script('assets/lib/react/react.js')|raw }}
        {{ HTML.script('assets/lib/react/JSXTransformer.js')|raw }}
        <!-- JQuery -->
        {{ HTML.script('assets/lib/jquery/dist/jquery.js')|raw }}
        <!-- Bootstrap -->
        {{ HTML.script('assets/lib/bootstrap/dist/js/bootstrap.min.js')|raw }}
        
        {% block footer_script %}{% endblock %}

    </body>
</html>
