{# empty Twig template #}

{% extends "template" %}

{% block title %}Index{% endblock %}

{% block body_class %}front_page{% endblock %}

{% block content %}

    <div class="container">
        <div class="row">

            {% if Auth.logged_in() != null%}
                <div class="col-md-4">
                    <div class="profile_minicover_wrap">
                        {% if Auth.get_user().has_cover_profile == 1 %}
                            {{ HTML.image('/media/user/'~Auth.get_user().id~'/cover.jpg', {'class':'cover', 'alt': Auth.get_user().username }  ) | raw }}
                        {% else %}
                            {{ HTML.image('/assets/img/jumbotron_bg.jpg', {'class':'cover' }  ) | raw }}
                        {% endif %}
                    </div>
                    <div class="user_profile" >
                        <div class="profile_picture_wrap">
                            {{ HTML.image('/media/user/'~Auth.get_user().id~'/small.png', {'class':'profile_picture', 'alt': Auth.get_user().username }  ) | raw }}
                        </div>

                        <div class="profile_info">
                            <h3>{{Auth.get_user().firstname~' '~Auth.get_user().lastname}}</h3>
                            <p>Username: <a href="{{ URL('/user/profile/'~Auth.get_user().username) }}">/{{Auth.get_user().username}}</a></p>
                            <p>E-mail: {{Auth.get_user().email}}</p>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
            {% endif %}

            <div id="content_wrap" class="col-md-8 {% if Auth.logged_in() == null%} col-md-offset-2 {% endif %}">

                <div class="timeline entry_box" >
                    {% if Auth.logged_in() != null%}
                        <div class="entry_form">
                            <div class="media">
                                <div class="media-left media-middle">
                                    {{ HTML.image('/media/user/'~Auth.get_user().id~'/small.png', {'class':'media-object', 'alt': entry.fullname }  ) | raw }}
                                </div>
                                <div class="media-body">
                                    <h4 class="media-heading">What's happening?</h4>
                                    <form class="form-horizontal add-entry-form" action="{{URL('entry/create')}}" method="POST">
                                        <textarea rows="2"  class="form-control" name="entry_body"></textarea>
                                        <input type="hidden" name="return" value="{{ URL('/') }}" >
                                        <input class="btn btn-primary pull-right " type="submit" value="Send" >
                                    </form>
                                </div>
                            </div>
                        </div>
                    {% endif %}

                    {{entries|raw}}
                </div>
            </div>
        </div>

    </div>

{% endblock %}