/* 
    Created on : 4/07/2015, 02:32:00 PM
    Author     : erickjose
*/

@import url(http://fonts.googleapis.com/css?family=Roboto:400,700,300);

body {
  padding-top: 50px;
  padding-bottom: 20px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

.cover_profile{
    height: 230px;
    overflow: hidden;
    padding: 0;
    margin-bottom: 30px;
}

.profile_picture_wrap{
    text-align: center;
    margin-top: -150px;
    margin-bottom: 10px;
}

.profile_info{
    padding:0  20px;
    width: 60%;
    margin: auto;
    
}

.gallery_list{
    list-style-type: none;
}
.gallery_list .gallery_item{
    float: left;
    width: 50px;
    height: 50px;
    overflow: hidden;
    margin: 3px;
}
.gallery_list .gallery_item img{
    max-width: 100%;
    height: 100%;
}

.front_page .profile_minicover_wrap{
    height: 100px;
    overflow: hidden;
}

.front_page .profile_minicover_wrap img{
    max-width: 100%;
    margin-top: 20px;
}

.front_page .user_profile{
    margin-left: 40px;
}

.front_page .profile_picture_wrap{
    margin-top: 30px;
    float: left;
}

.front_page .profile_info{
    float: left;
}

.timeline{
    margin-top: 10px;
}

.entry_list{
    margin-top: 10px;
}

.entry_foot{
    margin-top: 3px;
    color: #666;
    font-weight: bold;
    font-size: 12px;
}
.entry_foot > span > span {
    font-weight: normal;
}

.add-entry-form input[type="submit"]{
    margin-top: 10px;
}


/*Login page*/
.login_page body {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #eee;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}

.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="text"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}